.social_login
    button.social_icon.social_icon_github
        a(href="/auth/github")
            span
                i.fab.fa-github
            |Continue with Github
    button.social_icon.social_icon_facebook
        span 
            i.fab.fa-facebook
        |Continue with Facebook