doctype html5
html
    header
        title #{pageTitle} | MyTube
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.1/css/all.css")
    body
        include ../partials/header
        main
            block content
        include ../partials/footer.pug