extends ../layouts/main.pug
include ../mixins/videoPlayer
block content
	.home_video
		each video in videos
			.video_block
				a(href="/videos/"+video.id)
					.video_player
						video.videoBlock_thumbnail(src=video.fileUrl)
					.video_info
						h4.video_title=video.title
						h4.video_views #{video.views} views
			