extends ../layouts/main.pug
include ../mixins/videoBlock
block content
    .video-block
        each video in videos
            +videoBlock({
				title:video.title,
				videoFile:video.videoFile,
				views:video.views,
			})