extends ../layouts/main.pug
include ../mixins/videoPlayer
block content
    .home_video
        h1.search_name Searching for #{search}
        if videos.length === 0
            h5.search_no_video No Video Found
        else
            each video in videos
                .video_block
                    a(href="/videos/"+video.id)
                        .video_player
                            video.videoBlock_thumbnail(src=video.fileUrl)
                        .video_info
                            h4.video_title=video.title
                            h4.video_views #{video.views} views