extends ../layouts/main.pug
block content
    .form_container
        form(action=routers.uploadVideo,method="post",enctype="multipart/form-data")
            span.text(for="video") Video:
            input(type="file", name="videoFile" required="true" accept="video/*")
            span.text(for="title") Title:
            input(type="text", name="title",placeholder="Title" required="true")
            span.text(for="description") Description:
            textarea(name="description", cols="30", rows="5" placeholder="Description" required="true")
            input(type="submit" value="Upload Now")