.form_container
{
    .change_password
    {
        display: block;
        background-color:#4141ca;
        margin-top: 40px;
        padding: 8px 0px;
        text-align:center;
        width: 100%;
        color:white;
        border-radius: 3px;
        transition-duration: 0.1s;
        &:hover
        {
            opacity: 0.7;
        }
    }
}
