.video_detail_container
{
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    .video_info
    {
        width: 100%;
        a
        {
            color: white;
            background-color:blue;
            padding: 8px 18px;
            margin-bottom: 18px;
            border-radius:3px;
            transition-duration: 0.1s;
            &:hover
            {
                opacity: 0.7;
            }
        }

        .video_title,
        .video_views,
        .video_description
        {
            margin-top: 14px;
            display:block;
        }
        .video_title 
        {
            margin-top: 20px;
            font-size: 20px;
            font-weight: 500;
        }
        .video_description
        {
            font-size: 14px;
        }
        .creator
        {
            margin-top: 6px;
            a
            {
                background-color:  #f5f5f5;
                padding: 0;
                color:$black;
                font-weight: 600;
                &:hover
                {
                    color: $dark-red;
                }
            }
        } 
    }
}