extends ../layouts/main.pug
block content
    .form_container
        form(action=routers.changePassword,method="post")
            label(for="currentPassword") Current Password:
            input(type="password", name="currentPassword",placeholder="Current password" required="true")
            label(for="Password") New Password:
            input(type="password", name="password",placeholder="Password" required="true")
            label(for="Password2") Verify Password:
            input(type="password", name="password2",placeholder="Verify Password" required="true")
            input(type="submit" value="Change Now")