extends ../layouts/main.pug
include ../mixins/videoPlayer
block content
    .profile
        .profile_image
            img(src=`/${user.avatarUrl}`,alt="Your Image",width="160px")
        .profile_name
            h2=user.name
        if loggedUser
            if user._id == loggedUser._id
                .profile_btns
                    a(href="/users/edit-profile") Edit Profile
                    a(href="/users/change-password") Change Password
        if videos
            .video_uploaded
                .home_video
                    h2 Video Uploaded
                    each video in videos
                        .video_block
                            +videoPlayer({
                                src:video.fileUrl
                            })
                            a.video_info(href="/videos/"+video.id)
                                h4.video_title=video.title
                                h4.video_views #{video.views} views