extends ../layouts/main.pug
block content
    .profile
        .profile_image
            img(src=userProfile.avatarUrl,alt="Your Image",width="160px")
        .profile_name
            h2=userProfile.name